.product_one{
    background-image: url("../assets/productImg1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_two{
    background-image: url("../assets/productImg2.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_three{
    background-image: url("../assets/productImg3.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}