/*  border-3 border-violet-900 md:border-black lg:border-red-900 xl:border-blue-900 2xl:border-purple-800 */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.quicksand-font {
  font-family: "Quicksand", sans-serif;
}

.debug{
  border: 2px solid red;
}

.container{
  max-width: 1500px;
  margin: auto;
}


.section_title{
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  position: relative;
}

.section_title::after{
  background-color: rgba(29,135,81, .4);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 80px;
}

.newsletter_section{
  background-image: url("./assets/newsletterBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 70px;
  border-radius: 20px;
  min-height: 350px;
}

.hide{
  display: none;
}


/* for removing default arrows */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"] {
  pointer-events: none;
}

/* Enable thumb interaction */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  height: 16px;
  width: 16px;
  background: #ffffff;
  border: 2px solid #1d8751;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -2px;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  height: 16px;
  width: 16px;
  background: #0A400C;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 479px){
  .newsletter_section{
    padding: 54px 5px;
  }
}